html, body {
  margin:0;
  padding:0;
}
#footer {
  position:fixed;
  right:0;
  bottom:0;
  margin:0;
  width:30%;
}
#footer img {width:100%;}
.vertical-center {
  min-height: 95%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 95vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
