@charset "UTF-8";
body, html{ height: 100%; }
p {
  font-weight:bold;
  padding-top:10px;
}
body {
  font: 16px Roboto, "Droid Sans", "Lucida Grande", Helvetica, Arial, sans-serif;
/*  background-color: #f8f8f8; */
}
.navbar-brand {
  font-family: 'overseer';
  font-size: 32px;
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: auto;
  color: white !important;
}
.navbar-brand>img { display: initial; }
#files { margin-top: 20px;}
.fileinput-button { margin-bottom: 50px; }
.btn-norm { width: 114px; }
.btn-no-outline { outline: 5px auto; }
.dropdown-menu li { margin-left: 5px; }
.dropdown-menu { min-width: 120px; }
#uploadCase { margin-bottom: 0px; }
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}
@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}
@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}
.php-file-tree A {
  color: #000000;
  text-decoration: none;
}
.php-file-tree A:hover { color: #666666; }
.php-file-tree .open { font-style: italic; }
.php-file-tree .closed { font-style: normal; }
.php-file-tree .pft-directory { list-style-image: url(../images/directory.png); }
.php-file-tree LI.pft-file { list-style-image: url(../images/file.png); }
#wrapper {
  width: 100%;
  padding-bottom: 50px;
}
#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  background-color: #fff;
}
@media(min-width:768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 250px;
    padding: 0 30px;
    border-left: 1px solid #e7e7e7;
  }
}
.navbar-top-links { margin-right: 0; }
.navbar-top-links li { display: inline-block; }
.navbar-top-links li:last-child { margin-right: 15px; }
.navbar-top-links li a {
  padding: 15px;
  min-height: 50px;
}
.navbar-top-links .dropdown-menu li { display: block; }
.navbar-top-links .dropdown-menu li:last-child { margin-right: 0; }
.navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
}
.navbar-top-links .dropdown-menu li a div { white-space: normal; }
.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
  width: 310px;
  min-width: 0;
}
.navbar-top-links .dropdown-messages { margin-left: 5px; }
.navbar-top-links .dropdown-tasks { margin-left: -59px; }
.navbar-top-links .dropdown-alerts { margin-left: -123px; }
.navbar-top-links .dropdown-user {
  right: 0;
  left: auto;
}
@media(min-width:768px) {
  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts {
    margin-left: auto;
  }
}
.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
}
.btn-primary.btn-outline { color: #428bca; }
.btn-success.btn-outline { color: #5cb85c; }
.btn-info.btn-outline { color: #5bc0de; }
.btn-warning.btn-outline { color: #f0ad4e; }
.btn-danger.btn-outline { color: #d9534f; }
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover { color: #fff; }
.panel .slidedown .glyphicon { margin-right: 5px; }
.chat-panel .panel-body {
  height: 350px;
  overflow-y: scroll;
}
.huge { font-size: 30px; }
.panel-green { border-color: #5cb85c; }
.panel-green .panel-heading {
  border-color: #5cb85c;
  color: #fff;
  background-color: #5cb85c;
}
.panel-green a { color: #5cb85c; }
.panel-green a:hover { color: #3d8b3d; }
.panel-red { border-color: #d9534f; }
.panel-red .panel-heading {
  border-color: #d9534f;
  color: #fff;
  background-color: #d9534f;
}
.panel-red a { color: #d9534f; }
.panel-red a:hover { color: #b52b27; }
.panel-yellow { border-color: #f0ad4e; }
.panel-yellow .panel-heading {
  border-color: #f0ad4e;
  color: #fff;
  background-color: #f0ad4e;
}
.panel-yellow a { color: #f0ad4e; }
.panel-yellow a:hover { color: #df8a13; }
.panel-grey { border-color: #777777; }
.panel-grey .panel-heading {
  border-color: #777777;
  color: #fff;
  background-color: #777777;
}
.panel-grey a { color: #777777; }
.panel-grey a:hover { color: #777777; }

.glyphicon-custom { padding-right: 10px; }
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Droid Sans'), local('DroidSans'), url('../fonts/DroidSans.ttf') format('truetype');
}
@font-face {
  font-family: 'Pirata One';
  font-style: normal;
  font-weight: 400;
  src: local('Pirata One'), local('PirataOne-Regular'), url('../fonts/PirataOne.woff2') format('woff2');
}
@font-face {
  font-family: 'overseer';
  font-weight: normal;
  font-style: normal;
  src: url('/fonts/overseer_italic-webfont.eot');
  src: url('../fonts/overseer_italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/overseer_italic-webfont.woff2') format('woff2'), url('../fonts/overseer_italic-webfont.woff') format('woff'), url('../fonts/overseer_italic-webfont.ttf') format('truetype'), url('../fonts/overseer_italic-webfont.svg#overseeritalic') format('svg');
}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/preloader.gif) center no-repeat #fff;
}
.generated {
  font-style: italic;
  font-size: 14px;
}
#purgeLoading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.navbar-right { padding-top: 0px; }
.float {
    background: white;
    border-bottom: 1px solid black;
    padding: 10px 0 10px 0;
    margin: 0px;
    height: 30px;
    width: 100%;
    text-align: left;
}
.contents {
	margin-top: 60px;
	margin-bottom: 50px;
}
.results {
    padding-bottom: 20px;
    font-family: monospace;
    font-size: small;
    white-space: pre;
}
.container { padding-bottom: 70px; }
.navbar-danger>div {
    padding-top: 15px;
    text-align: center;
    color: white;
}
.navbar-default{
    background-color: #282F35;
    border-color: #FF4536;
}
.navbar-default a { color:#FF4536; }
.navbar-danger { background-color: #d9534f; }
#generatedTime {
    font-style: italic;
    font-size: smaller;
    padding-top: 30px;
    padding-left: 10px;
}
.glyphicon-danger { color: #FF4536; }
.table-hover>tbody>tr:hover {
    background-color: #fcf8e3;
    /*color: white;*/
}
.table { font-size: 14px;}
.alarm-green { color: #3c763d; }
.alarm-red { color: #d9534f; }
.alarm-yellow { color: #f0ad4e; }
.divider-dashed {
    width: 60%;
    border-top: 2px dashed #FF4536;
    margin-bottom: 50px;
}
h2.text-success { color: #9acb9a; }
h2.text-success small {
    color: #b3b3b3;
    font-style: italic;
}
h2>i { font-size: 24px; }
.table-noborder>tbody>tr>td { border-top: none }

.dropdown-menu { min-width: 250px; }
.dropdown-menu.columns-2 { min-width: 500px; }
.dropdown-menu.columns-3 { min-width: 750px; }
.dropdown-menu li a {
	padding: 5px 15px;
	font-weight: 300;
}
.multi-column-dropdown {
	list-style: none;
    padding: 0px;
}
.multi-column-dropdown li a {
	display: block;
	clear: both;
	line-height: 1.428571429;
	color: #333;
	white-space: normal;
}
.multi-column-dropdown li a:hover {
	text-decoration: none;
	color: #262626;
	background-color: #f5f5f5;
}

@media (max-width: 767px) {
	.dropdown-menu.multi-column {
		min-width: 240px !important;
		overflow-x: hidden;
	}
}
/**
 * Tooltip Styles
 */

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

#toc ul {
  list-style-type: none;
  font-size: 1em;
}
#toc li { display: inline-block; }
#toc li a {
  display: block;
  text-decoration: none;
  padding: 10px;
  min-height: 40px;
}
#toc li a:hover { background: #eee; }

#back-to-top {
    position: fixed;
    bottom: 70px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #5e5e5e;
    color: white;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
}
#back-to-top:hover {
    background: black;
}








.tile-stats.tile-red {
  background: #f56954;
}
.tile-stats.tile-red:hover {
  background: #f4543c;
}
.tile-stats {
  position: relative;
  display: block;
  background: #303641;
  padding: 20px;
  margin-bottom: 10px;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.tile-stats.tile-red .icon {
  color: rgba(0, 0, 0, 0.1);
}
.tile-stats .icon {
  color: rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 5px;
  bottom: 45px;
  z-index: 1;
}

.tile-stats .icon i {
  font-size: 100px;
  line-height: 0;
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}
.tile-stats.tile-red .num, .tile-stats.tile-red h3, .tile-stats.tile-red p {
  color: #fff;
}
.tile-stats .num {
  font-size: 38px;
  font-weight: bold;
}
.tile-stats .num, .tile-stats h3, .tile-stats p {
  position: relative;
  color: #fff;
  z-index: 5;
  margin: 0;
  padding: 0;
}
.tile-stats h3 {
  font-size: 18px;
  margin-top: 5px;
}
.tile-stats p {
  font-size: 11px;
  margin-top: 5px;
}
.tile-stats .num, .tile-stats h3, .tile-stats p {
  position: relative;
  color: #fff;
  z-index: 5;
  margin: 0;
  padding: 0;
}

.tile-stats.tile-green:hover {
  background: #008d4c;
}
.tile-stats.tile-green {
  background: #00a65a;
}

.tile-stats.tile-aqua:hover {
  background: #00acd6;
}
.tile-stats.tile-aqua {
  background: #00c0ef;
}



.table-title {
  background-color: #f5f5f5;
  padding: 10px;
  /*min-width: 150px;*/
  color: black;
  font-weight: bold;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url("../fonts/Roboto-Regular.woff2") format('woff2');
}



/*
* Exception
*/
#footerSean {
  position:fixed;
  right:0;
  bottom:0;
  margin:0;
  width:30%;
}
#footerSean img {width:100%;}
.vertical-center {
  min-height: 90%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 90vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

#export-feature { margin-top: 10px; }

.dataTables_info, .dataTables_filter, .dataTables_length { font-size: 14px; }
#inventory_length { margin-right: 40px; }

.importantLabel a { 
  /*color: #FF4536 !important;*/
  font-weight: bold !important;
}
.searchLookup input, .searchLookup .input-group-btn button {
  color: #AAA;
  border-color: #555;
  font-style: italic;
  background-color: #282F35;
}

.typeahead,
.tt-query,
.tt-hint {
  background-color: #282F35 !important;
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  line-height: 30px;
  border: 1px solid #555;
  outline: none;
}

.typeahead { background-color: #FFF; }
.typeahead:focus { border: 2px solid #0097cf; }
.tt-hint { color: #FFF; }
.tt-menu {
  width: 422px;
  background-color: #FFF;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.tt-suggestion p { padding: 3px 20px; }
.suggestionList { color: #282F35; }
/*.tt-suggestion a:hover { color: #FFF; }*/
.tt-suggestion:hover p {
  cursor: pointer;
  color: #FFF;
  background-color: #282F35;
}
.tt-suggestion:hover { text-decoration: none; }
.tt-suggestion p { margin: 0; }
.tt-highlight { color: #FF4536;}
.suggestionList { font-weight: normal;}
.searchLookup {margin-top: 10px;}
.dataTables_wrapper .dataTables_paginate { font-size: 14px; }

.lastseen {
  font-style: italic;
  font-size: 12px;
  color: #777;
  margin-left: 10px;
}

#apropos>h1 i { font-size: .7em; }
#apropos p { text-align: center; }
#apropos h1 { margin-top: 40px; }
#apropos img {
  margin: 0 auto;
  max-width: 120px;  
}
.navbar-brand a {
  color: white;
  text-decoration: none;
}
.navbar-brand a:hover { font-size: 1.1em; }
